{namespace plaza.home.home}

/**
 * Main content for home page.
 */
{template .main}
  <div class="{css plaza-home}">
/*    <p>
      <a class="{css plaza-rainbow-header}" href="/ideas">ideas</a>
    </p> */
    <p>
      <a class="{css plaza-rainbow-header}" href="/jams">jams</a>
    </p>
    <p>
      <a class="{css plaza-rainbow-header}" href="/about">about</a>
    </p>
  </div>
{/template}
