{namespace plaza.plazaapp}

/**
 * Main skeleton for the plaza app.
 */
{template .main}
  <div class="{css plaza-plazaapp}">
    <div class="{css plaza-plazaapp-header}"></div>
    <div class="{css plaza-plazaapp-container}"></div>
  </div>
{/template}
